In [1]:
import pandas as pd
import numpy as np

In [3]:
covid19=pd.read_csv("C:\\Users\\acorn-519\\Downloads\\covid_19_\\PatientInfo.csv")
covid19.head()

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,서울,강서구,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,서울,중랑구,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,서울,종로구,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,서울,마포구,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,서울,성북구,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released

In [12]:
covid19.sort_values(by="confirmed_date",ascending=False)

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
1986,1400000343,female,NaN,Korea,인천,NaN,overseas inflow,NaN,NaN,NaN,2020-06-30,NaN,NaN,isolated
3706,4100000168,NaN,20s,Korea,충청남도,부여군,overseas inflow,NaN,1,NaN,2020-06-30,NaN,NaN,isolated
1985,1400000342,female,NaN,Korea,인천,NaN,overseas inflow,NaN,NaN,NaN,2020-06-30,NaN,NaN,isolated
2104,1500000118,female,20s,Korea,대전,동구,overseas inflow,NaN,0,NaN,2020-06-30,NaN,NaN,isolated
2106,1500000120,male,10s,Korea,대전,동구,contact with patient,1500000115,2,2020-06-25,2020-06-30,NaN,NaN,isolated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1000000001,male,50s,Korea,서울,강서구,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1644,1400000001,female,30s,China,인천,기타,overseas inflow,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
4730,6011000051,female,40s,Korea,경상북도,안동시,etc,NaN,NaN,NaN,NaN,NaN,NaN,released
4731,6011000052,female,0s,Korea,경상북도,안동시,etc,NaN,NaN,NaN,NaN,NaN,NaN,released
4732,6011000053,female,10s,Korea,경상북도,안동시,etc,NaN,NaN,2020-04-15,NaN,NaN,NaN,released